In [1]:
import pymysql
db = pymysql.connect(host='localhost',user='root',\
                     password='ouyangyi2002',port=3306)#mysql密码
cursor = db.cursor()
sql = 'SELECT VERSION()'
cursor.execute(sql)
data = cursor.fetchone()
print('Database version:',data)
db.close()

Database version: ('8.0.18',)

In [2]:
db = pymysql.connect(host='localhost',user='root',\
                     password='ouyangyi2002',port=3306)#mysql密码
cursor = db.cursor()
sql = 'CREATE DATABASE bili DEFAULT CHARACTER SET utf8'
cursor.execute(sql)
db.close()

In [3]:
sql = 'CREATE TABLE `bili`.`biliweek` ('+\
  '`week` INT NOT NULL,'+\
  '`bvid` VARCHAR(45) NOT NULL,'+\
  '`category` VARCHAR(45) NOT NULL,'+\
  '`coin` INT NOT NULL,'+\
  '`favorite` INT NOT NULL,'+\
  '`like` INT NOT NULL,'+\
  '`mid` INT NOT NULL,'+\
  '`name` VARCHAR(45) NOT NULL,'+\
  '`playlink` VARCHAR(45) NOT NULL,'+\
  '`reply` INT NOT NULL,'+\
  '`title` VARCHAR(45) NOT NULL,'+\
  '`view` INT NOT NULL,'+\
  'PRIMARY KEY (`title`, `week`));'
db = pymysql.connect(host='localhost',user='root',\
                     password='ouyangyi2002',port=3306)
cursor = db.cursor()
cursor.execute(sql)
db.close()

In [4]:
import csv
csvf = open('bili.csv','r',encoding="utf-8")
reader = csv.reader(csvf)
BInfo = []
for row in reader:
    BInfo.append(row)
csvf.close()
print(BInfo[1])

['167', 'BV1Aa411E7ZR', '人力VOCALOID', '447139', '255575', '849259', '5260378', '白勺啊达', 'https://b23.tv/BV1Aa411E7ZR', '7390', '爱你，就多判一年', '8492201']

In [5]:
sql = 'INSERT INTO `bili`.`biliweek` (`week`, `bvid`, `category`, `coin`, `favorite`, `like`, `mid`,  `name`, `playlink`, `reply`,`title`, `view`) VALUES (%s, %s,%s, %s, %s, %s, %s,%s, %s, %s, %s, %s)'
db = pymysql.connect(host='localhost',user='root',\
                     password='ouyangyi2002',port=3306)
cursor = db.cursor()
for i in range(1,len(BInfo)):
    try:
        cursor.execute(sql, BInfo[i])
        db.commit()
        print("insert successfully")
    except Exception as e:
        db.rollback()
        print("errors:",e)
db.close()

insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
errors: (1366, "Incorrect string value: '\\xF0\\x9D\\x91\\xB3\\xF0\\x9D...' for column 'title' at row 1")
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
errors: (1406, "Data too long for column 'title' at row 1")
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
errors: (1406, "Data too long for column 'title' at row 1")
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
errors: (1406, "Data too long for column 'title' at row 1")
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
errors: (1406, "Data too long for column 'title' at row 1")
errors: (1406, "Data too long for column 'title' at row 1")
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
errors: (1406, "Data too long for column 'title' at row 1")
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
errors: (1406, "Data too long for column 'title' at row 1")
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
errors: (1406, "Data too long for column 'title' at row 1")
errors: (1406, "Data too long for column 'title' at row 1")
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
errors: (1406, "Data too long for column 'title' at row 1")
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
errors: (1366, "Incorrect string value: '\\xF0\\x9F\\x92\\x9A\\xE3\\x80...' for column 'title' at row 1")
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
errors: (1406, "Data too long for column 'title' at row 1")
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
errors: (1406, "Data too long for column 'title' at row 1")
insert successfully
insert successfully
errors: (1406, "Data too long for column 'title' at row 1")
insert successfully
insert successfully
errors: (1366, "Incorrect string value: '\\xF0\\x9D\\x91\\xA9\\xF0\\x9D...' for column 'title' at row 1")
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
errors: (1406, "Data too long for column 'title' at row 1")
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
errors: (1406, "Data too long for column 'title' at row 1")
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
errors: (1406, "Data too long for column 'title' at row 1")
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully
insert successfully

In [6]:
import pandas as pd
data = pd.read_csv("bili.csv")
data

,aweek,bvid,category,coin,favorite,like,mid,name,play_link,reply,title,view
0,167,BV1Aa411E7ZR,人力VOCALOID,447139,255575,849259,5260378,白勺啊达,https://b23.tv/BV1Aa411E7ZR,7390,爱你，就多判一年,8492201
1,167,BV1st4y1s7Kk,原创音乐,31894,20288,77832,48421904,贾逸可,https://b23.tv/BV1st4y1s7Kk,2943,我帮周董“出歌”还被本人评论了？！原创歌曲《常玉》,1404961
2,167,BV11g411d7TW,穿搭,221958,328900,889645,836885,清和Alicia,https://b23.tv/BV11g411d7TW,10116,约尔太太今天约会♥,8081906
3,167,BV1x34y1E77j,综合,152212,253446,771955,397857697,黄方块和粉星星a,https://b23.tv/BV1x34y1E77j,5713,“轻 轻 敲 醒 沉 睡 的 心 灵”,7924634
4,167,BV1ev4y1A7Wo,鬼畜剧场,35683,41614,213570,429765143,快乐阿依,https://b23.tv/BV1ev4y1A7Wo,1305,美 国 退 长,3988127
...,...,...,...,...,...,...,...,...,...,...,...,...
2087,118,BV1Zy4y1T7no,美食制作,108195,20049,230121,1420982,黑猫厨房,https://b23.tv/BV1Zy4y1T7no,1932,你管这叫香肠？！米其林都哭了！！！,2749280
2088,118,BV1zK4y1u79R,搞笑,26813,64829,542178,481393564,钉钉DingTalk,https://b23.tv/BV1zK4y1u79R,9545,主管哭了，00后反杀,12493914
2089,118,BV13v411H75c,电子竞技,114149,45638,363769,179922650,青莲又失利了,https://b23.tv/BV13v411H75c,5280,《青莲兰陵》这才是能创造奇迹的兰陵王！！！,5064625
2090,118,BV1dM4y1u76V,搞笑,100661,42414,116528,86236791,尤菲莉亚玛泽塔,https://b23.tv/BV1dM4y1u76V,5558,2021年高考查分现状,1576034
2091,118,BV1x64y19753,单机游戏,17019,31461,175269,154113956,日向源,https://b23.tv/BV1x64y19753,5201,童年最难通关的双人游戏之一 最终BOSS和结局究竟是什么？【新增隐藏关卡】【闪翼双星】,4406641

In [13]:
#数据持久化
pd.DataFrame(data).to_excel("bili.xlsx",engine='xlsxwriter')